In [1]:
t= (1,2,3,4,5)

In [11]:
type(t)

tuple

In [2]:
t[0]

1

In [6]:
t[-1:-3:-1]

(5, 4)

# tuple is immutable

In [7]:
t[0]=7

TypeError: 'tuple' object does not support item assignment

In [8]:
# if we want to reassign some value we can do by casting tuple to list and then to tupple again
l = list(t)

In [9]:
l[0] = 9

In [10]:
l

[9, 2, 3, 4, 5]

In [12]:
t1 = tuple(l)

In [13]:
t1

(9, 2, 3, 4, 5)

In [14]:
l2 = set(1,1,1,1,12,4,5,5,5,5)

TypeError: set expected at most 1 argument, got 10

In [16]:
l2 = [3,4,5,6,6,7,8,9]

In [17]:
#set will not take duplicate values , it will remove duplicates
s1=set(l2)

In [19]:
#compare from the list above
s1

{3, 4, 5, 6, 7, 8, 9}

In [30]:
# set is also case sensitive so we convert data to lower before adding  to set
s2 = set([1,2,3,4,5,"vipul","VIPUL"])

In [24]:
s2

{1, 2, 3, 4, 5, 'VIPUL', 'vipul'}

In [31]:
new1 =[]
for i in s2:
    if type(i)==str:
        new1.append(i.lower())
                    
    else:
        new1.append(i)
new1

[1, 2, 3, 4, 5, 'vipul', 'vipul']

AttributeError: 'set' object has no attribute 'str'

In [33]:
set2 =set(new1)

In [34]:
set2

{1, 2, 3, 4, 5, 'vipul'}

In [35]:
set2{0}

SyntaxError: invalid syntax (<ipython-input-35-38b5028e006b>, line 1)

In [36]:
# if it is empty bracket it is dictionary
b = {}
type(b)

dict

In [37]:
#if i will give  a single digit it will return set
b= {1}
type(b)

set

In [38]:
#it is also a dictionary
b = {'c':1}
type(b)

dict

In [44]:
#will return the difference
n =set2.difference(l2)

In [45]:
n

{1, 2, 'vipul'}

In [47]:
#Remove all elements of another set from this set.
diffupdate=set2.difference_update(s1)

In [51]:
demo1 = set([1,2,3,4,5,6,7,8,9])
demo2 = set([0,'q','w','e','r','t','y'])

In [55]:
print(demo1.difference_update())

None

In [56]:
print(diffupdate)

None

In [60]:
dis=demo1.discard(1)

In [61]:
print(dis)

None

In [62]:
# in sets we will not be able to give the []
demo1[0]

TypeError: 'set' object is not subscriptable

In [63]:
#we will not be able to perform the slicing operation on set
s
demo1[::]

TypeError: 'set' object is not subscriptable

# dictionaries

In [64]:
# dicts = {key : value }  this is the syntax of dictionary , dict do not take duplicate key but not throw error
dicts = {"name":"vipul", "lastname":"ahuja", "name":"hello","Name":"synonymous"}

In [65]:
#key is also case sensitive  as name and Name both are different 
dicts

{'name': 'hello', 'lastname': 'ahuja', 'Name': 'synonymous'}

In [66]:
#inside dictionary for key list , tuples are not allowed but as value is allowed
dic = {[1,2,3,4]:"lknger"}

TypeError: unhashable type: 'list'

In [3]:
diic = {"key1":[1,2,3,4,[4,5,6,7]],"key2":{"x":[345]},"key3":(2,3,4,5)}

In [68]:
diic

{'key1': [1, 2, 3, 4, [4, 5, 6, 7]],
 'key2': {'x': [345]},
 'key3': (2, 3, 4, 5)}

In [6]:
value= diic.values

In [69]:
diic["key1"][4][1]

5

In [70]:
diic["key2"]

{'x': [345]}

In [72]:
# this is how you can access dictionary inside the dictionary and list value
diic["key2"]["x"][0]

345

In [73]:
#by default it return the key
for i in diic:
    print(i)

key1
key2
key3

In [74]:
#both above and below are same
for i in diic.keys():
    print(i)

key1
key2
key3

In [75]:
diic.values()

dict_values([[1, 2, 3, 4, [4, 5, 6, 7]], {'x': [345]}, (2, 3, 4, 5)])

In [80]:
# if i want to get the particular tuple from the dictionary itself
lis = []

for i in diic.values():
    if type(i)== tuple:
        for j in i:
            lis.append(j)
    elif type(i) ==dict:
        for t in i:
            
            print(i[t])
lis

[345]

[2, 3, 4, 5]

In [83]:
# dictionary comprehension as like list comprehension
{i:i**2  for i in range(1,9)}

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64}

In [85]:
newlists = ['vipul','ahuja','hello','world','to']

In [86]:
{i :i.upper() for i in newlists}

{'vipul': 'VIPUL',
 'ahuja': 'AHUJA',
 'hello': 'HELLO',
 'world': 'WORLD',
 'to': 'TO'}

# function

In [87]:
#simple function
def test():

SyntaxError: unexpected EOF while parsing (<ipython-input-87-d9c7c47317b9>, line 3)

In [88]:
def test():
    pass

In [89]:
for i in range(0,8):

SyntaxError: unexpected EOF while parsing (<ipython-input-89-686ee15f8b8e>, line 2)

In [90]:
for i in range(0,8):
    pass

In [91]:
def test():
    a= 5
    b = 10
    print(a+b)

In [92]:
test()

15

In [93]:
type(test())

15

NoneType

In [94]:
type(print())

NoneType

In [95]:
# so as we see print is having type as nonetype
# if i will give 
b = test()
b

15

In [96]:
type(b)

NoneType

In [97]:
#we cannot perform primitive type operation on nonetype
b+1

TypeError: unsupported operand type(s) for +: 'NoneType' and 'int'

In [109]:
l1 = [5,6,7,7,7,9,2,5,[4,5,6,8,9,9]]

In [99]:
type(l1)

list

In [103]:
def duplicate(l1):
    m1 =[]
    m2=[]
    for i in l1:
        if type(i) == list:
             for j in i:
                m1.append(j)
        else:
            m2.append(i)
    return set(m1 +m2)

In [105]:
duplicate(l1)

{2, 4, 5, 6, 7, 8, 9}

In [100]:
demo1 +demo2

TypeError: unsupported operand type(s) for +: 'set' and 'set'

In [101]:
p1=[2,3,4,5]
p2 = [6,3,4,5]
p1+p2

[2, 3, 4, 5, 6, 3, 4, 5]

In [113]:
for i in l1:
    if i == 5 or i==7:
        l1.remove(5)
        l1.remove(7)
        for j in l1:
            if j ==7:
                l1.remove(7)
                if type(j)== list:
                    for q in j:
                        if q==9:
                            j.remove(9)
l1

[6, 9, 2, [4, 5, 6, 8, 9, 9]]

In [128]:
# prime
def prime(n):
    for i in range(2,n):
        if(n%i == 0):
            print('number is not prime')
            break
            
    else:
         print('number is prime')

In [130]:
prime(11)

number is prime

# iterator and iterable

In [131]:
for i in "vipul":
    print(i)

v
i
p
u
l

In [132]:
next("vipul")

TypeError: 'str' object is not an iterator

In [133]:
type("vipul")# string is iterable so first we need to convert it to iterator

str

In [134]:
a = iter("vipul")

In [135]:
#now string become iterator , now we can iterate
# to become a iterator first it need to be iterable
type(a)

str_iterator

In [136]:
next(a
    )

'v'

In [137]:
next(12)

TypeError: 'int' object is not an iterator

In [138]:
iter(12)

TypeError: 'int' object is not iterable

In [ ]:
# from above we see int is not itreable so cannot be iterator

In [140]:
type(range(10))

range

In [141]:
#as seen range is not a iterator but we can convert iterable to iterator
next(range)

TypeError: 'type' object is not an iterator

In [142]:
#iter made the range to iterator
d=iter(range(0,10))

In [145]:

next(d)

1

In [148]:
def gencube(n):
    for i in range(n):
        print(i**3)

In [149]:
gencube(10)

0
1
8
27
64
125
216
343
512
729

In [150]:
#here yield is the generator , which will generate the outcome
def gencube1(n):
    for i in range(n):
        yield i**3

In [151]:
for i in gencube1(10):
    print(i)

0
1
8
27
64
125
216
343
512
729

In [155]:
#so here gencube is generator but not an iterator so first we need too convert a function to iterator
next(gencube1(10))

0

In [156]:
#converted to iterator
v = iter(gencube1(10))

In [159]:
#now yielding the results from iterator
next(v)

8

In [160]:
#fibonacci 1,1,2,3,5,8,13,21  ....
def fibo(n):
    a=1
    b=1
    for i in range(n):
        print(a)
        a,b=b,a+b

In [161]:
fibo(10)

1
1
2
3
5
8
13
21
34
55

In [162]:
# now as generator, here yield will remember the previus value 
def genfib(n):
    a=1
    b=1
    for i in range(n):
        yield a
        a,b = b,a+b

In [163]:
for i in genfib(10):
    print(i)

1
1
2
3
5
8
13
21
34
55

In [168]:
#map function will take function and iterable as parameter
#map(func, iterable)
def square(n):
    return n**2

In [165]:
l = [1,2,3,4,5,6,7,8,9]

In [167]:
list(map(square,l))

[1, 4, 9, 16, 25, 36, 49, 64, 81]

In [169]:
# map function also work as generator
for i in map(square,l):
    print(i)

1
4
9
16
25
36
49
64
81

In [174]:
#lambda operation
for i in map(lambda x:x**3,l):
     print(i)

1
8
27
64
125
216
343
512
729

In [172]:
lam.

In [175]:
a = [1,2,3,4,5]
b= [6,6,7,8,9]
c = [8,9,10,11,12]

In [183]:
f =lambda x,y,z: x+y+z

In [186]:
m =map(f,a,b,c)

In [187]:
m

In [188]:
list(m)

[15, 17, 20, 23, 26]

In [189]:
# map function do the mapping operation

In [2]:
#reduce function do the aggregation operation 
from functools import reduce

In [1]:
def summition(a,b):
    return a+b

In [192]:
reduce(summition,l)

45

In [195]:
#without function using lambda call
reduce(lambda x,y:x/y,l)

2.7557319223985893e-06

In [196]:
#in reduce operation on send 2 argument  because more than 2 give error
reduce(lambda x,y,z:x+y+z,l)

TypeError: <lambda>() missing 1 required positional argument: 'z'

In [197]:
# filter operation will return dataset which is true
list(filter(lambda x:x%2==0,l))

[2, 4, 6, 8]

In [199]:
# same can be performed with help of function

def even(n):
    lis = []
    for i in n:
        if(i%2==0):
            lis.append(i)
    return lis

In [201]:
list(filter(even , l))

TypeError: 'int' object is not iterable

In [8]:
pw = [[1,2,3,4,5],[5,6,7,89]]

In [12]:
for i in pw:
    if i == pw[0]:
        print(i)

[1, 2, 3, 4, 5]