In [1]:
s= 'vipul'

In [2]:
s[0]

'v'

In [3]:
s[0:1]

'v'

In [6]:
s[0:-1:1]

'vipu'

In [7]:
#it will no return any data as we are moviing in negative direction
s[0:-1:-1]

''

# string properties   : string is immutable means we cannot replace any string value once created

In [8]:
s[0]='x'

TypeError: 'str' object does not support item assignment

In [9]:
# we can perforn the string concatination 
s = s+ "hello world"

In [10]:
s

'vipulhello world'

In [11]:
s*2

'vipulhello worldvipulhello world'

In [13]:
# string multiplication is possible but we cannot do power operation n string
s**2

TypeError: unsupported operand type(s) for ** or pow(): 'str' and 'int'

In [14]:
s.upper()

'VIPULHELLO WORLD'

In [15]:
s.lower()

'vipulhello world'

In [17]:
#only capetilize the first character of the string
s.capitalize()

'Vipulhello world'

In [18]:
s.casefold()

'vipulhello world'

In [19]:
v= "jbsjfgjdf "
v.casefold()

'jbsjfgjdf '

In [98]:
# it takes the first parameter as width and try to append the second character to make count to 40 and my original string in between
s.center(40,'h')

'hhhhhhhhhhhhvipulhello worldhhhhhhhhhhhh'

In [99]:
#only take 1 characterto append with 
s.center(50,'ab')

TypeError: The fill character must be exactly one character long

In [50]:
v = 'abcdcdc'

In [37]:
v.count('cdc')

2

In [38]:
v.encode()

b'abcdccdc'

In [40]:
v.endswith('ab')

False

In [41]:
v.expandtabs()

'abcdccdc'

In [101]:
# it replaced \t with the tab in the string as observed
'vipul\tahuja\t\ttalented'.expandtabs()

'vipul   ahuja           talented'

In [53]:
#return the lowest index where substring wil be found
v.find('cdc')

2

In [58]:
#we can also give the start and end index for the string, it will return -1 if that particular string will not found
v.find('m',2,8)

-1

In [60]:
v.format()

'abcdcdc'

In [102]:
name = input('my name is ')

f"my name is {name}"

my name is vipul

'my name is vipul'

In [104]:
name = input('my name is ')
"my name is {}".format(name)

my name is vipul ahuja

'my name is vipul ahuja'

In [105]:
v.format_map({2})

'abcdcdc'

In [109]:
name = input('my name is ')
hobby = input('hobby is')
"my name is {} {}".format(name,hobby)

my name is vipul ahuja
hobby istable tennis

'my name is vipul ahuja table tennis'

In [68]:
v.index('c')

2

In [69]:
v.isalnum()

True

In [70]:
v.isalpha()

True

In [113]:
demo= 'Is There'
demo.istitle()

True

In [114]:
'vipu'.istitle()

False

In [115]:
'hello World'.istitle()

False

In [71]:
v.isdecimal()

False

In [72]:
v.isspace()

False

In [73]:
s.isspace()

False

In [84]:
t= "       "
t.isspace()

True

In [94]:
list = ['vipul','ahujaass']
name = ' '.join(list)

In [95]:
name

'vipul ahujaass'

In [87]:
name1 = '.'.join(['cd','pg','mr'])

In [88]:
name1

'cd.pg.mr'

In [89]:
# difference between find and rfind is that find return the lowest index of the substring while rfind
#return the upper index of the string
v.rfind('c')

6

In [90]:
v.replace('c','m')

'abmdmdm'

In [92]:
# difference between index and rindex is that index return the lowest index of the substring while rindex
#return the upper index of the string
v.rindex('c')

6

In [93]:
# partition will partition from first occurance of the seprator and it will aalso part of the tuple 
name.partition('a')

('vipul ', 'a', 'huja')

In [96]:
#in split it will return list and divide the string where ever we find the occurance of the 
#particular seprator ,and seprator not part of the list
name.split('a')

['vipul ', 'huj', '', 'ss']

In [140]:
b= [1,3,4,5,6,"fghfh","fghfh"]

In [130]:
b + list("vipul")

TypeError: 'list' object is not callable

In [128]:
lis= list(["vipul"])
b + lis

TypeError: 'list' object is not callable

In [184]:
b.index(3)#index will return the index of elemet in th list
# if element not present then in that case it will give error
b.index(12)

ValueError: 12 is not in list

In [186]:
# but in case of string find operation it will return -1 so this is the difference between string find and list index function
r='vipul'
r.find('c')

-1

In [138]:
#return the copy of the list
a=b.copy()

In [137]:
a

[1, 3, 4, 5, 6]

In [142]:
#return the count of that particular value present in the list
b.count("fghfh")

2

In [143]:
#as we can see extend method will append the list value in the end 
b.extend(a)

In [182]:
#but in case list inside list
g= [5,6,7,[3,2,1]]

In [183]:
# here i have list inside the list it has added element by element for fisrt list but for second list it has added nested list
a.extend(g)
a

[1, 3, 4, 5, 6, 5, 6, 7, [3, 2, 1]]

In [144]:
b

[1, 3, 4, 5, 6, 'fghfh', 'fghfh', 1, 3, 4, 5, 6]

In [180]:
b.append(a)

In [181]:
#here the difference between extend and append is that extend is not creating nested list ,it just add each element one by one
#here in case of append it append the list in end but not single element as a complete list
b

[1, 3, 4, 5, 6, 'fghfh', 'fghfh', 1, 3, 4, 5, [1, 3, 4, 5, 6]]

In [147]:
#reversed the list
b.reverse()

In [146]:
b

[6, 5, 4, 3, 1, 'fghfh', 'fghfh', 6, 5, 4, 3, 1]

In [148]:
b.pop()

6

In [150]:
#as after pop 6 is removed from the list
b

[1, 3, 4, 5, 6, 'fghfh', 'fghfh', 1, 3, 4, 5]

In [151]:
#it will not sort because my list contain integer and string
b.sort()

TypeError: '<' not supported between instances of 'str' and 'int'

In [155]:
newlist = [1,4,3,2,5,7,8]

In [156]:
newlist.sort()

In [157]:
newlist

[1, 2, 3, 4, 5, 7, 8]

In [158]:
newlist.sort(reverse=True)

In [159]:
newlist

[8, 7, 5, 4, 3, 2, 1]

In [164]:
x=[2,3,4,5,6,7,8]
y=[76,54,67,23,45]
z=[98,90,25,45,67]
t= [x,y,z]

In [165]:
t

[[2, 3, 4, 5, 6, 7, 8], [76, 54, 67, 23, 45], [98, 90, 25, 45, 67]]

In [167]:
t[1][2:4]

[67, 23]

In [168]:
t[2][-1]

67

In [169]:
t[2][1:4]

[90, 25, 45]

In [170]:
t[2][0:4:2]

[98, 25]

In [171]:
t[-1]

[98, 90, 25, 45, 67]

In [172]:
t[-1][::2]

[98, 25, 67]

In [173]:
for i in range(0,3):
    print(t[i][::-1])

[8, 7, 6, 5, 4, 3, 2]
[45, 23, 67, 54, 76]
[67, 45, 25, 90, 98]

In [174]:
for c in t:
    print(c[::-1])

[8, 7, 6, 5, 4, 3, 2]
[45, 23, 67, 54, 76]
[67, 45, 25, 90, 98]

In [178]:
[i[2]*2 for i in t]

[8, 134, 50]

In [179]:
[i[3]**2 for i in t]

[25, 529, 2025]

In [188]:
#twice list comprehension 
[m*2 for m in [i[2]for i in t]]

[8, 134, 50]